.aside {
    width: 16vw; 
    height: 100vh; 
    background-color: #CAC8F0; 
    border-right: 1px solid #ddd; 
    padding: 1rem; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    
}
.asideButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem .2rem;
    padding-top: 0.5rem;
}
.asideSprints{
    max-height: 80vh;
    overflow-y: auto; 
}

.asideSprints::-webkit-scrollbar {
    width: 8px;
}

.asideSprints::-webkit-scrollbar-track {
    background: #e0e0e0;
}

.asideSprints::-webkit-scrollbar-thumb {
    background-color: #4653ca;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
}

.asideButton button{
    background-color: #5ebbfa;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
    padding: .5rem 4rem;
    border-radius: 5px;
    transition-duration: 0.4s;
    width: 100%;
}

.asideButton button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}