.containerPrincipaltaskCard {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	height: auto;
	background-color: #5ebbfa;
	border-radius: 0.4rem;
	padding: 10px;
	margin: 10px;
	color: #fff;
	font-size: 1.1rem;
}

.taskCardData {
	display: flex;
	flex-direction: column;
	gap: 4px;
    flex: 1;
    min-width: 0;
}

  
.taskCardData h2 {
    max-width: 50vw; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  

.taskCardActions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:30%;
}
.taskCardActionsButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 0.3rem;
	width: 100%;
	
}
.taskCardActions button {
	background-color: #fff;
	color: #4653ca;
	border: none;
	padding: 0.1rem 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition-duration: 0.4s;
}
.taskCardActions button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.taskCardSprintActionsWarning button{
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: space-between;
	width: 100%;
	padding: 6px 10px;
	background-color: #fa553f;
	color: white;
	border-radius: 6px;
	font-size: 1rem;
	cursor: pointer;
	transition-duration: 0.4s;
}