.containerPrincipalListSprints {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: .5rem;
	height: 100%;
	background-color: #fff;
	border-radius: 0.4rem;
	overflow: hidden;
}

.containerTitleListSprints {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	color: #4653ca;
}

.containerSprints {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
	border-radius: 0.4rem;
	width: 100%;

}

.containerButtonAddSprint {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.containerButtonAddSprint button {
	background-color: #4653ca;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition-duration: 0.4s;
}
.containerButtonAddSprint button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
