
.containerDataTaskList {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.titleandbuttonTaskList {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:90%;
	padding: 1rem;

}
.titleandbuttonTaskList h2 {
	font-size: 3.5rem;
	color: #4653ca;
}
.titleandbuttonTaskList button {
	background-color: #5ebbfa;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	color: #fff;
	padding: 0.5rem 4rem;
	border-radius: 5px;
	transition-duration: 0.4s;
}
.titleandbuttonTaskList button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.containerTasks {
	width:90%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    overflow-y: auto; 
}
.containerTasks::-webkit-scrollbar {
    width: 8px;
}

.containerTasks::-webkit-scrollbar-track {
    background: #e0e0e0;
}

.containerTasks::-webkit-scrollbar-thumb {
    background-color: #5ebbfa;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
}

.containerTasks h3{
	width: 100%;
	height: 100%;
	padding-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: #4653ca;
}
