.containerPrincipalViewModalTask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
}

.containerViewModalTask {
	background: #ffffff;
	width: 28vw;
	min-width: 300px;
	max-width: 500px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	animation: slideUp 0.3s ease-in-out;
}

.containerViewModalTask h2 {
	color: #4653ca;
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: 10px;
}

.containerDataViewModalTask {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	font-size: 1rem;
	margin-bottom: 15px;
}

.containerDataViewModalTask p {
	font-size: 1rem;
	text-align: center;
	margin: 5px 0;
}

.containerDataViewModalTaskDescripcion {
	max-height: 120px;
	overflow-y: auto;
	padding: 5px;
	border-radius: 5px;
	background: #f5f5f5;
	width: 100%;
	text-align: justify;
	word-break: break-word;
	overflow-wrap: break-word;
}
.containerDataViewModalTaskDescripcion::-webkit-scrollbar {
	width: 6px;
}

.containerDataViewModalTaskDescripcion::-webkit-scrollbar-track {
	background: #e0e0e0;
	border-radius: 5px;
}

.containerDataViewModalTaskDescripcion::-webkit-scrollbar-thumb {
	background: #4653ca;
	border-radius: 5px;
}

.buttonCloseModal {
	background:#f44336 ;
	color: white;
	border: none;
	padding: 0.8rem 1.5rem;
	border-radius: 5px;
	font-size: 1.2rem;
	transition: all 0.3s ease-in-out;
}

.buttonCloseModal:hover {
	cursor: pointer;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);;
}
